---
import Layout from '../../layouts/Layout.astro'
---

<Layout title="Gestorías | EMAY" bgHeader="bg-slate-800" bgColor="bg-slate-200" logoPath="../images/generalLOGO.png" logoAutosPath="../images/emayVLogo.png">
    <div class="w-[85%]" style="margin: 0 auto;">
        <h1 class="pt-28 text-6xl">Trámites Vehiculares</h1>
    </div>
</Layout>